[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-security-too = "*"
psycopg2-binary = "*"
flask-admin = "*"
flask-ckeditor = "*"
flask-mailman = "*"
sqlalchemy-utils = "*"
alembic = "*"
flask-migrate = "*"
sqlalchemy = "==1.4.46"
flask-sqlalchemy = "*"
bcrypt = "*"
gunicorn = "==20.0.4"

[dev-packages]

[requires]
python_version = "3.11"
