{% extends "base.html" %}


{% block title %}
Главная страница
{% endblock %}

{% block content_title %}

{% endblock %}

{% block content_index %}

    <section data-bs-version="5.1" class="header1 cid-ta36f33b1b mbr-fullscreen" id="header1-k">




        <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(250, 250, 250);"></div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>Английский язык для
                            всех.</strong></h1>

                    <p class="mbr-text mbr-fonts-style display-7">
                        Большой опыт в обучении английского языка, от начального уровня до профессионального.</p>

                </div>
            </div>
        </div>
    </section>

    


{% endblock %}