{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}


{% block content_title %}
<h1>{{ post.title }}</h1>
{% endblock %}

{% block content %}
<div class='body_body'>
    <div class='tags'>
        {% for tag in tags %}
        <a href ="{{ url_for('posts.tag_detail', slug=tag.slug) }}"><span class="badge bg-secondary">{{ tag.name }}</span></a>
        {% endfor %}
    </div>

    <div class='p-3 mb-3 bg-body rounded' >
        {{ post.body | safe }}
    {% if current_user.has_role('admin') %}
        <a class="nav-link link text-black display-4" href="/blog/{{ post.slug }}/edit">
            Редактировать</a>
    </div>
</div>
{% endif %}
{% endblock %}